<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.touhou.video.rank.mapper.TypeBaseMapper">
  <resultMap id="BaseResultMap" type="com.touhou.video.rank.entity.Type">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="father_id" jdbcType="INTEGER" property="fatherId" />
    <result column="name" jdbcType="NVARCHAR" property="name" />
  </resultMap>
  <sql id="Base_Column_List">
    id, father_id, [name]
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from type
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from type
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyProperty="id" parameterType="com.touhou.video.rank.entity.Type" useGeneratedKeys="true">
    insert into type (id, father_id, [name]
      )
    values (#{id,jdbcType=INTEGER}, #{fatherId,jdbcType=INTEGER}, #{name,jdbcType=NVARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyProperty="id" parameterType="com.touhou.video.rank.entity.Type" useGeneratedKeys="true">
    insert into type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="fatherId != null">
        father_id,
      </if>
      <if test="name != null">
        [name],
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="fatherId != null">
        #{fatherId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.touhou.video.rank.entity.Type">
    update type
    <set>
      <if test="fatherId != null">
        father_id = #{fatherId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        [name] = #{name,jdbcType=NVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.touhou.video.rank.entity.Type">
    update type
    set father_id = #{fatherId,jdbcType=INTEGER},
      [name] = #{name,jdbcType=NVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>