<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.touhou.video.rank.mapper.VideoDataBaseMapper">
  <resultMap id="BaseResultMap" type="com.touhou.video.rank.entity.VideoData">
    <id column="av" jdbcType="NUMERIC" property="av" />
    <id column="issue" jdbcType="NUMERIC" property="issue" />
    <result column="view" jdbcType="NUMERIC" property="view" />
    <result column="reply" jdbcType="NUMERIC" property="reply" />
    <result column="favorite" jdbcType="NUMERIC" property="favorite" />
    <result column="coin" jdbcType="NUMERIC" property="coin" />
    <result column="page" jdbcType="NUMERIC" property="page" />
    <result column="point" jdbcType="NUMERIC" property="point" />
    <result column="rank" jdbcType="NUMERIC" property="rank" />
    <result column="danmaku" jdbcType="NUMERIC" property="danmaku" />
    <result column="share" jdbcType="NUMERIC" property="share" />
    <result column="like" jdbcType="NUMERIC" property="like" />
    <result column="dislike" jdbcType="NUMERIC" property="dislike" />
    <result column="evaluation" jdbcType="VARCHAR" property="evaluation" />
  </resultMap>
  <sql id="Base_Column_List">
    av, issue, [view], reply, favorite, coin, page, point, [rank], danmaku, [share], 
    [like], dislike, evaluation
  </sql>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from video_data
    where av = #{av,jdbcType=NUMERIC}
      and issue = #{issue,jdbcType=NUMERIC}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from video_data
    where av = #{av,jdbcType=NUMERIC}
      and issue = #{issue,jdbcType=NUMERIC}
  </delete>
  <insert id="insert" keyProperty="id" parameterType="com.touhou.video.rank.entity.VideoData" useGeneratedKeys="true">
    insert into video_data (av, issue, [view], 
      reply, favorite, coin, 
      page, point, [rank], 
      danmaku, [share], [like], 
      dislike, evaluation)
    values (#{av,jdbcType=NUMERIC}, #{issue,jdbcType=NUMERIC}, #{view,jdbcType=NUMERIC}, 
      #{reply,jdbcType=NUMERIC}, #{favorite,jdbcType=NUMERIC}, #{coin,jdbcType=NUMERIC}, 
      #{page,jdbcType=NUMERIC}, #{point,jdbcType=NUMERIC}, #{rank,jdbcType=NUMERIC}, 
      #{danmaku,jdbcType=NUMERIC}, #{share,jdbcType=NUMERIC}, #{like,jdbcType=NUMERIC}, 
      #{dislike,jdbcType=NUMERIC}, #{evaluation,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyProperty="id" parameterType="com.touhou.video.rank.entity.VideoData" useGeneratedKeys="true">
    insert into video_data
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="av != null">
        av,
      </if>
      <if test="issue != null">
        issue,
      </if>
      <if test="view != null">
        [view],
      </if>
      <if test="reply != null">
        reply,
      </if>
      <if test="favorite != null">
        favorite,
      </if>
      <if test="coin != null">
        coin,
      </if>
      <if test="page != null">
        page,
      </if>
      <if test="point != null">
        point,
      </if>
      <if test="rank != null">
        [rank],
      </if>
      <if test="danmaku != null">
        danmaku,
      </if>
      <if test="share != null">
        [share],
      </if>
      <if test="like != null">
        [like],
      </if>
      <if test="dislike != null">
        dislike,
      </if>
      <if test="evaluation != null">
        evaluation,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="av != null">
        #{av,jdbcType=NUMERIC},
      </if>
      <if test="issue != null">
        #{issue,jdbcType=NUMERIC},
      </if>
      <if test="view != null">
        #{view,jdbcType=NUMERIC},
      </if>
      <if test="reply != null">
        #{reply,jdbcType=NUMERIC},
      </if>
      <if test="favorite != null">
        #{favorite,jdbcType=NUMERIC},
      </if>
      <if test="coin != null">
        #{coin,jdbcType=NUMERIC},
      </if>
      <if test="page != null">
        #{page,jdbcType=NUMERIC},
      </if>
      <if test="point != null">
        #{point,jdbcType=NUMERIC},
      </if>
      <if test="rank != null">
        #{rank,jdbcType=NUMERIC},
      </if>
      <if test="danmaku != null">
        #{danmaku,jdbcType=NUMERIC},
      </if>
      <if test="share != null">
        #{share,jdbcType=NUMERIC},
      </if>
      <if test="like != null">
        #{like,jdbcType=NUMERIC},
      </if>
      <if test="dislike != null">
        #{dislike,jdbcType=NUMERIC},
      </if>
      <if test="evaluation != null">
        #{evaluation,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.touhou.video.rank.entity.VideoData">
    update video_data
    <set>
      <if test="view != null">
        [view] = #{view,jdbcType=NUMERIC},
      </if>
      <if test="reply != null">
        reply = #{reply,jdbcType=NUMERIC},
      </if>
      <if test="favorite != null">
        favorite = #{favorite,jdbcType=NUMERIC},
      </if>
      <if test="coin != null">
        coin = #{coin,jdbcType=NUMERIC},
      </if>
      <if test="page != null">
        page = #{page,jdbcType=NUMERIC},
      </if>
      <if test="point != null">
        point = #{point,jdbcType=NUMERIC},
      </if>
      <if test="rank != null">
        [rank] = #{rank,jdbcType=NUMERIC},
      </if>
      <if test="danmaku != null">
        danmaku = #{danmaku,jdbcType=NUMERIC},
      </if>
      <if test="share != null">
        [share] = #{share,jdbcType=NUMERIC},
      </if>
      <if test="like != null">
        [like] = #{like,jdbcType=NUMERIC},
      </if>
      <if test="dislike != null">
        dislike = #{dislike,jdbcType=NUMERIC},
      </if>
      <if test="evaluation != null">
        evaluation = #{evaluation,jdbcType=VARCHAR},
      </if>
    </set>
    where av = #{av,jdbcType=NUMERIC}
      and issue = #{issue,jdbcType=NUMERIC}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.touhou.video.rank.entity.VideoData">
    update video_data
    set [view] = #{view,jdbcType=NUMERIC},
      reply = #{reply,jdbcType=NUMERIC},
      favorite = #{favorite,jdbcType=NUMERIC},
      coin = #{coin,jdbcType=NUMERIC},
      page = #{page,jdbcType=NUMERIC},
      point = #{point,jdbcType=NUMERIC},
      [rank] = #{rank,jdbcType=NUMERIC},
      danmaku = #{danmaku,jdbcType=NUMERIC},
      [share] = #{share,jdbcType=NUMERIC},
      [like] = #{like,jdbcType=NUMERIC},
      dislike = #{dislike,jdbcType=NUMERIC},
      evaluation = #{evaluation,jdbcType=VARCHAR}
    where av = #{av,jdbcType=NUMERIC}
      and issue = #{issue,jdbcType=NUMERIC}
  </update>
</mapper>