<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.touhou.video.rank.mapper.VideoDataMapper">
  <select id="selectAll" resultMap="com.touhou.video.rank.mapper.VideoDataBaseMapper.BaseResultMap">
    select top ${limit}
    <include refid="com.touhou.video.rank.mapper.VideoDataBaseMapper.Base_Column_List" />
    from video_data
      inner join (select av as info_av, type, is_delete from video_info) info on video_data.av = info.info_av
    inner join (select av as tag_av from touhouTag) tag on video_data.av = tag.tag_av
    where issue = #{issue,jdbcType=NUMERIC}
      and info.is_delete = 0
      and type in <foreach collection="typeList" item="type" open="(" close=")" separator=",">
        #{type.name}
      </foreach>
    order by point desc
  </select>
  <select id="getNewIssue" resultType="java.lang.Short">
    select max(issue) from video_data
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from video_data
    where av = #{av,jdbcType=NUMERIC}
  </delete>
</mapper>