<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.touhou.video.rank.mapper.VideoInfoMapper">
	<update id="updateStartTimeByPrimaryKey">
		update video_info
		set start_time = #{startTime,jdbcType=NUMERIC}
		where av = #{av,jdbcType=NUMERIC}
	</update>
	<delete id="updateIsDeleteByPrimaryKey">
		update video_info
		set is_delete = #{isDelete,jdbcType=NUMERIC}
		where av = #{av,jdbcType=NUMERIC}
	</delete>
	<select id="selectAll" resultMap="com.touhou.video.rank.mapper.VideoInfoBaseMapper.BaseResultMap">
		select
		<include refid="com.touhou.video.rank.mapper.VideoInfoBaseMapper.Base_Column_List" />
		from video_info
		where is_delete = #{isDelete}
	</select>
	<select id="listVideoInfoRandom" resultMap="com.touhou.video.rank.mapper.VideoInfoBaseMapper.BaseResultMap">
		select top ${number}
		<include refid="com.touhou.video.rank.mapper.VideoInfoBaseMapper.Base_Column_List" />
		from video_info
		where is_delete = 0
			and type in <foreach collection="typeList" item="type" open="(" close=")" separator=",">
				#{type.name}
			</foreach>
		order by newid()
	</select>
</mapper>
