<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.touhou.video.rank.mapper.VideoTagBaseMapper">
  <resultMap id="BaseResultMap" type="com.touhou.video.rank.entity.VideoTag">
    <id column="av" jdbcType="NUMERIC" property="av" />
    <result column="name" jdbcType="NVARCHAR" property="name" />
    <result column="tag1" jdbcType="NVARCHAR" property="tag1" />
    <result column="tag2" jdbcType="NVARCHAR" property="tag2" />
    <result column="tag3" jdbcType="NVARCHAR" property="tag3" />
    <result column="tag4" jdbcType="NVARCHAR" property="tag4" />
    <result column="tag5" jdbcType="NVARCHAR" property="tag5" />
    <result column="tag6" jdbcType="NVARCHAR" property="tag6" />
    <result column="tag7" jdbcType="NVARCHAR" property="tag7" />
    <result column="tag8" jdbcType="NVARCHAR" property="tag8" />
    <result column="tag9" jdbcType="NVARCHAR" property="tag9" />
    <result column="tag10" jdbcType="NVARCHAR" property="tag10" />
    <result column="tag11" jdbcType="NVARCHAR" property="tag11" />
    <result column="tag12" jdbcType="NVARCHAR" property="tag12" />
    <result column="tag13" jdbcType="NVARCHAR" property="tag13" />
    <result column="tag14" jdbcType="NVARCHAR" property="tag14" />
    <result column="tag15" jdbcType="NVARCHAR" property="tag15" />
    <result column="tag16" jdbcType="NVARCHAR" property="tag16" />
    <result column="tag17" jdbcType="NVARCHAR" property="tag17" />
    <result column="tag18" jdbcType="NVARCHAR" property="tag18" />
    <result column="tag19" jdbcType="NVARCHAR" property="tag19" />
    <result column="tag20" jdbcType="NVARCHAR" property="tag20" />
  </resultMap>
  <sql id="Base_Column_List">
    av, [name], tag1, tag2, tag3, tag4, tag5, tag6, tag7, tag8, tag9, tag10, tag11, tag12, 
    tag13, tag14, tag15, tag16, tag17, tag18, tag19, tag20
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from touhouTag
    where av = #{av,jdbcType=NUMERIC}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from touhouTag
    where av = #{av,jdbcType=NUMERIC}
  </delete>
  <insert id="insert" keyProperty="id" parameterType="com.touhou.video.rank.entity.VideoTag" useGeneratedKeys="true">
    insert into touhouTag (av, [name], tag1, 
      tag2, tag3, tag4, 
      tag5, tag6, tag7, 
      tag8, tag9, tag10, 
      tag11, tag12, tag13, 
      tag14, tag15, tag16, 
      tag17, tag18, tag19, 
      tag20)
    values (#{av,jdbcType=NUMERIC}, #{name,jdbcType=NVARCHAR}, #{tag1,jdbcType=NVARCHAR}, 
      #{tag2,jdbcType=NVARCHAR}, #{tag3,jdbcType=NVARCHAR}, #{tag4,jdbcType=NVARCHAR}, 
      #{tag5,jdbcType=NVARCHAR}, #{tag6,jdbcType=NVARCHAR}, #{tag7,jdbcType=NVARCHAR}, 
      #{tag8,jdbcType=NVARCHAR}, #{tag9,jdbcType=NVARCHAR}, #{tag10,jdbcType=NVARCHAR}, 
      #{tag11,jdbcType=NVARCHAR}, #{tag12,jdbcType=NVARCHAR}, #{tag13,jdbcType=NVARCHAR}, 
      #{tag14,jdbcType=NVARCHAR}, #{tag15,jdbcType=NVARCHAR}, #{tag16,jdbcType=NVARCHAR}, 
      #{tag17,jdbcType=NVARCHAR}, #{tag18,jdbcType=NVARCHAR}, #{tag19,jdbcType=NVARCHAR}, 
      #{tag20,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" keyProperty="id" parameterType="com.touhou.video.rank.entity.VideoTag" useGeneratedKeys="true">
    insert into touhouTag
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="av != null">
        av,
      </if>
      <if test="name != null">
        [name],
      </if>
      <if test="tag1 != null">
        tag1,
      </if>
      <if test="tag2 != null">
        tag2,
      </if>
      <if test="tag3 != null">
        tag3,
      </if>
      <if test="tag4 != null">
        tag4,
      </if>
      <if test="tag5 != null">
        tag5,
      </if>
      <if test="tag6 != null">
        tag6,
      </if>
      <if test="tag7 != null">
        tag7,
      </if>
      <if test="tag8 != null">
        tag8,
      </if>
      <if test="tag9 != null">
        tag9,
      </if>
      <if test="tag10 != null">
        tag10,
      </if>
      <if test="tag11 != null">
        tag11,
      </if>
      <if test="tag12 != null">
        tag12,
      </if>
      <if test="tag13 != null">
        tag13,
      </if>
      <if test="tag14 != null">
        tag14,
      </if>
      <if test="tag15 != null">
        tag15,
      </if>
      <if test="tag16 != null">
        tag16,
      </if>
      <if test="tag17 != null">
        tag17,
      </if>
      <if test="tag18 != null">
        tag18,
      </if>
      <if test="tag19 != null">
        tag19,
      </if>
      <if test="tag20 != null">
        tag20,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="av != null">
        #{av,jdbcType=NUMERIC},
      </if>
      <if test="name != null">
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="tag1 != null">
        #{tag1,jdbcType=NVARCHAR},
      </if>
      <if test="tag2 != null">
        #{tag2,jdbcType=NVARCHAR},
      </if>
      <if test="tag3 != null">
        #{tag3,jdbcType=NVARCHAR},
      </if>
      <if test="tag4 != null">
        #{tag4,jdbcType=NVARCHAR},
      </if>
      <if test="tag5 != null">
        #{tag5,jdbcType=NVARCHAR},
      </if>
      <if test="tag6 != null">
        #{tag6,jdbcType=NVARCHAR},
      </if>
      <if test="tag7 != null">
        #{tag7,jdbcType=NVARCHAR},
      </if>
      <if test="tag8 != null">
        #{tag8,jdbcType=NVARCHAR},
      </if>
      <if test="tag9 != null">
        #{tag9,jdbcType=NVARCHAR},
      </if>
      <if test="tag10 != null">
        #{tag10,jdbcType=NVARCHAR},
      </if>
      <if test="tag11 != null">
        #{tag11,jdbcType=NVARCHAR},
      </if>
      <if test="tag12 != null">
        #{tag12,jdbcType=NVARCHAR},
      </if>
      <if test="tag13 != null">
        #{tag13,jdbcType=NVARCHAR},
      </if>
      <if test="tag14 != null">
        #{tag14,jdbcType=NVARCHAR},
      </if>
      <if test="tag15 != null">
        #{tag15,jdbcType=NVARCHAR},
      </if>
      <if test="tag16 != null">
        #{tag16,jdbcType=NVARCHAR},
      </if>
      <if test="tag17 != null">
        #{tag17,jdbcType=NVARCHAR},
      </if>
      <if test="tag18 != null">
        #{tag18,jdbcType=NVARCHAR},
      </if>
      <if test="tag19 != null">
        #{tag19,jdbcType=NVARCHAR},
      </if>
      <if test="tag20 != null">
        #{tag20,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.touhou.video.rank.entity.VideoTag">
    update touhouTag
    <set>
      <if test="name != null">
        [name] = #{name,jdbcType=NVARCHAR},
      </if>
      <if test="tag1 != null">
        tag1 = #{tag1,jdbcType=NVARCHAR},
      </if>
      <if test="tag2 != null">
        tag2 = #{tag2,jdbcType=NVARCHAR},
      </if>
      <if test="tag3 != null">
        tag3 = #{tag3,jdbcType=NVARCHAR},
      </if>
      <if test="tag4 != null">
        tag4 = #{tag4,jdbcType=NVARCHAR},
      </if>
      <if test="tag5 != null">
        tag5 = #{tag5,jdbcType=NVARCHAR},
      </if>
      <if test="tag6 != null">
        tag6 = #{tag6,jdbcType=NVARCHAR},
      </if>
      <if test="tag7 != null">
        tag7 = #{tag7,jdbcType=NVARCHAR},
      </if>
      <if test="tag8 != null">
        tag8 = #{tag8,jdbcType=NVARCHAR},
      </if>
      <if test="tag9 != null">
        tag9 = #{tag9,jdbcType=NVARCHAR},
      </if>
      <if test="tag10 != null">
        tag10 = #{tag10,jdbcType=NVARCHAR},
      </if>
      <if test="tag11 != null">
        tag11 = #{tag11,jdbcType=NVARCHAR},
      </if>
      <if test="tag12 != null">
        tag12 = #{tag12,jdbcType=NVARCHAR},
      </if>
      <if test="tag13 != null">
        tag13 = #{tag13,jdbcType=NVARCHAR},
      </if>
      <if test="tag14 != null">
        tag14 = #{tag14,jdbcType=NVARCHAR},
      </if>
      <if test="tag15 != null">
        tag15 = #{tag15,jdbcType=NVARCHAR},
      </if>
      <if test="tag16 != null">
        tag16 = #{tag16,jdbcType=NVARCHAR},
      </if>
      <if test="tag17 != null">
        tag17 = #{tag17,jdbcType=NVARCHAR},
      </if>
      <if test="tag18 != null">
        tag18 = #{tag18,jdbcType=NVARCHAR},
      </if>
      <if test="tag19 != null">
        tag19 = #{tag19,jdbcType=NVARCHAR},
      </if>
      <if test="tag20 != null">
        tag20 = #{tag20,jdbcType=NVARCHAR},
      </if>
    </set>
    where av = #{av,jdbcType=NUMERIC}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.touhou.video.rank.entity.VideoTag">
    update touhouTag
    set [name] = #{name,jdbcType=NVARCHAR},
      tag1 = #{tag1,jdbcType=NVARCHAR},
      tag2 = #{tag2,jdbcType=NVARCHAR},
      tag3 = #{tag3,jdbcType=NVARCHAR},
      tag4 = #{tag4,jdbcType=NVARCHAR},
      tag5 = #{tag5,jdbcType=NVARCHAR},
      tag6 = #{tag6,jdbcType=NVARCHAR},
      tag7 = #{tag7,jdbcType=NVARCHAR},
      tag8 = #{tag8,jdbcType=NVARCHAR},
      tag9 = #{tag9,jdbcType=NVARCHAR},
      tag10 = #{tag10,jdbcType=NVARCHAR},
      tag11 = #{tag11,jdbcType=NVARCHAR},
      tag12 = #{tag12,jdbcType=NVARCHAR},
      tag13 = #{tag13,jdbcType=NVARCHAR},
      tag14 = #{tag14,jdbcType=NVARCHAR},
      tag15 = #{tag15,jdbcType=NVARCHAR},
      tag16 = #{tag16,jdbcType=NVARCHAR},
      tag17 = #{tag17,jdbcType=NVARCHAR},
      tag18 = #{tag18,jdbcType=NVARCHAR},
      tag19 = #{tag19,jdbcType=NVARCHAR},
      tag20 = #{tag20,jdbcType=NVARCHAR}
    where av = #{av,jdbcType=NUMERIC}
  </update>
</mapper>