<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.touhou.video.rank.mapper.VideoInfoBaseMapper">
  <resultMap id="BaseResultMap" type="com.touhou.video.rank.entity.VideoInfo">
    <id column="av" jdbcType="NUMERIC" property="av" />
    <result column="name" jdbcType="NVARCHAR" property="name" />
    <result column="img" jdbcType="NVARCHAR" property="img" />
    <result column="type" jdbcType="NVARCHAR" property="type" />
    <result column="owner" jdbcType="NVARCHAR" property="owner" />
    <result column="copyright" jdbcType="BIT" property="copyright" />
    <result column="pub_time" jdbcType="NVARCHAR" property="pubTime" />
    <result column="start_time" jdbcType="NUMERIC" property="startTime" />
    <result column="is_delete" jdbcType="BIT" property="isDelete" />
    <result column="bv" jdbcType="NVARCHAR" property="bv" />
    <result column="description" jdbcType="NVARCHAR" property="description" />
    <result column="state" jdbcType="NUMERIC" property="state" />
    <result column="attribute" jdbcType="NUMERIC" property="attribute" />
    <result column="duration" jdbcType="NUMERIC" property="duration" />
    <result column="mission_id" jdbcType="NUMERIC" property="missionId" />
    <result column="dynamic" jdbcType="NVARCHAR" property="dynamic" />
  </resultMap>
  <sql id="Base_Column_List">
    av, [name], img, [type], [owner], copyright, pub_time, start_time, is_delete, bv, 
    description, [state], [attribute], duration, mission_id, [dynamic]
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from video_info
    where av = #{av,jdbcType=NUMERIC}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from video_info
    where av = #{av,jdbcType=NUMERIC}
  </delete>
  <insert id="insert" keyProperty="id" parameterType="com.touhou.video.rank.entity.VideoInfo" useGeneratedKeys="true">
    insert into video_info (av, [name], img, 
      [type], [owner], copyright, 
      pub_time, start_time, is_delete, 
      bv, description, [state], 
      [attribute], duration, mission_id, 
      [dynamic])
    values (#{av,jdbcType=NUMERIC}, #{name,jdbcType=NVARCHAR}, #{img,jdbcType=NVARCHAR}, 
      #{type,jdbcType=NVARCHAR}, #{owner,jdbcType=NVARCHAR}, #{copyright,jdbcType=BIT}, 
      #{pubTime,jdbcType=NVARCHAR}, #{startTime,jdbcType=NUMERIC}, #{isDelete,jdbcType=BIT}, 
      #{bv,jdbcType=NVARCHAR}, #{description,jdbcType=NVARCHAR}, #{state,jdbcType=NUMERIC}, 
      #{attribute,jdbcType=NUMERIC}, #{duration,jdbcType=NUMERIC}, #{missionId,jdbcType=NUMERIC}, 
      #{dynamic,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" keyProperty="id" parameterType="com.touhou.video.rank.entity.VideoInfo" useGeneratedKeys="true">
    insert into video_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="av != null">
        av,
      </if>
      <if test="name != null">
        [name],
      </if>
      <if test="img != null">
        img,
      </if>
      <if test="type != null">
        [type],
      </if>
      <if test="owner != null">
        [owner],
      </if>
      <if test="copyright != null">
        copyright,
      </if>
      <if test="pubTime != null">
        pub_time,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="bv != null">
        bv,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="state != null">
        [state],
      </if>
      <if test="attribute != null">
        [attribute],
      </if>
      <if test="duration != null">
        duration,
      </if>
      <if test="missionId != null">
        mission_id,
      </if>
      <if test="dynamic != null">
        [dynamic],
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="av != null">
        #{av,jdbcType=NUMERIC},
      </if>
      <if test="name != null">
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="img != null">
        #{img,jdbcType=NVARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=NVARCHAR},
      </if>
      <if test="owner != null">
        #{owner,jdbcType=NVARCHAR},
      </if>
      <if test="copyright != null">
        #{copyright,jdbcType=BIT},
      </if>
      <if test="pubTime != null">
        #{pubTime,jdbcType=NVARCHAR},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=NUMERIC},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=BIT},
      </if>
      <if test="bv != null">
        #{bv,jdbcType=NVARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=NVARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=NUMERIC},
      </if>
      <if test="attribute != null">
        #{attribute,jdbcType=NUMERIC},
      </if>
      <if test="duration != null">
        #{duration,jdbcType=NUMERIC},
      </if>
      <if test="missionId != null">
        #{missionId,jdbcType=NUMERIC},
      </if>
      <if test="dynamic != null">
        #{dynamic,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.touhou.video.rank.entity.VideoInfo">
    update video_info
    <set>
      <if test="name != null">
        [name] = #{name,jdbcType=NVARCHAR},
      </if>
      <if test="img != null">
        img = #{img,jdbcType=NVARCHAR},
      </if>
      <if test="type != null">
        [type] = #{type,jdbcType=NVARCHAR},
      </if>
      <if test="owner != null">
        [owner] = #{owner,jdbcType=NVARCHAR},
      </if>
      <if test="copyright != null">
        copyright = #{copyright,jdbcType=BIT},
      </if>
      <if test="pubTime != null">
        pub_time = #{pubTime,jdbcType=NVARCHAR},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=NUMERIC},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=BIT},
      </if>
      <if test="bv != null">
        bv = #{bv,jdbcType=NVARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=NVARCHAR},
      </if>
      <if test="state != null">
        [state] = #{state,jdbcType=NUMERIC},
      </if>
      <if test="attribute != null">
        [attribute] = #{attribute,jdbcType=NUMERIC},
      </if>
      <if test="duration != null">
        duration = #{duration,jdbcType=NUMERIC},
      </if>
      <if test="missionId != null">
        mission_id = #{missionId,jdbcType=NUMERIC},
      </if>
      <if test="dynamic != null">
        [dynamic] = #{dynamic,jdbcType=NVARCHAR},
      </if>
    </set>
    where av = #{av,jdbcType=NUMERIC}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.touhou.video.rank.entity.VideoInfo">
    update video_info
    set [name] = #{name,jdbcType=NVARCHAR},
      img = #{img,jdbcType=NVARCHAR},
      [type] = #{type,jdbcType=NVARCHAR},
      [owner] = #{owner,jdbcType=NVARCHAR},
      copyright = #{copyright,jdbcType=BIT},
      pub_time = #{pubTime,jdbcType=NVARCHAR},
      start_time = #{startTime,jdbcType=NUMERIC},
      is_delete = #{isDelete,jdbcType=BIT},
      bv = #{bv,jdbcType=NVARCHAR},
      description = #{description,jdbcType=NVARCHAR},
      [state] = #{state,jdbcType=NUMERIC},
      [attribute] = #{attribute,jdbcType=NUMERIC},
      duration = #{duration,jdbcType=NUMERIC},
      mission_id = #{missionId,jdbcType=NUMERIC},
      [dynamic] = #{dynamic,jdbcType=NVARCHAR}
    where av = #{av,jdbcType=NUMERIC}
  </update>
</mapper>